doctype 5
html
    head
        title Octocard
        meta(charset="UTF-8")
        meta(name="Keywords", content="Octocard,github,info,card")
        meta(name="Description" content="Highly flexible github info card for every github lover.")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Libre+Baskerville")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="icon", type="image/x-icon", href="http://nodejs.in/octocard/favicon.ico")
    body
        block content
