doctype 5
html
    head
        title Octocard
        meta(charset="UTF-8")
        meta(name="Keywords", content="Octocard,github,card,widget")
        meta(name="Description" content="Highly flexible github card widget for every github lover.")
        link(rel="shortcut icon", href="/stylesheets/imgs/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/stylesheets/imgs/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto+Slab|Lobster")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="icon", type="image/x-icon", href="//nodejs.in/octocard/images/favicon.ico")
    body
        block content
