body {
    margin: 0;
    padding: 0;
    font: 16px "Libre Baskerville", "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #666;
}

h1,
h2 {
    margin: 1em 0;
    font-size: 2em;
    line-height: 1em;
}
h2 {
    font-size: 1.5em;
    line-height: 32px;
}
h1 {
    margin: 0;
    height: 64px;
    line-height: 64px;
    font-size: 3em;
    color: #FFF;
}
h1 img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    _display: inline;
    width: 54px;
    height: 54px;
}

p {
    line-height: 1.5em;
    padding: 0;
    margin: 0.5em 0;
}

li {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

em {
    font-style: normal;
}

a {
    color: #4A89DC;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    padding: 1em;
    width: 640px;
}

.banner {
    padding: 3em 0 1em;
    overflow: hidden;
    color: #FFF;
    background-color: #4A89DC;
    border-top: 1px solid #3082EE;
    border-bottom: 1px solid #3082EE;
}
.banner a {
    color: #FFF;
}

.sample-code {
    position: relative;
    padding: 7px 16px;
    line-height: 16px;
    font-family: monospace;
    font-size: 14px;
    white-space: pre-wrap;
    background-color: #f7f7f9;
    border-top: 1px solid #e1e1e8;
    border-bottom: 1px solid #e1e1e8;
}
.sample-code p {
    margin: 0;
}
.String { color: rgb(3, 106, 7); }
.Keyword { color: rgb(0, 22, 142); }
.Statement { color: rgb(0, 22, 142); }
.Type { color: #000; }

.btn,
.loginBtn {
    margin-bottom: 6px;
    display: inline-block;
    padding: 5px;
    line-height: 24px;
    color: #FFF;
    background-color: #5D9CEC;
}
.loginBtn {
    -webkit-box-shadow: 1px 0px 1px #4A89DC,
        2px 1px 1px #4A89DC,
        3px 2px 1px #4A89DC,
        4px 3px 1px #4A89DC,
        0px 1px 1px #4A89DC,
        1px 2px 1px #4A89DC,
        2px 3px 1px #4A89DC,
        3px 4px 1px #4A89DC;
    box-shadow: 1px 0px 1px #4A89DC,
        2px 1px 1px #4A89DC,
        3px 2px 1px #4A89DC,
        4px 3px 1px #4A89DC,
        0px 1px 1px #4A89DC,
        1px 2px 1px #4A89DC,
        2px 3px 1px #4A89DC,
        3px 4px 1px #4A89DC;
}
.btn:hover,
.loginBtn:hover {
    background-color: #4A89DC;
    text-decoration: none;
}
.loginBtn:active {
    position: relative;
    top: 2px;
    left: 2px;
    -webkit-box-shadow: 1px 0px 1px #4A89DC,
        2px 1px 1px #4A89DC,
        0px 1px 1px #4A89DC,
        1px 2px 1px #4A89DC;
    box-shadow: 1px 0px 1px #4A89DC,
        2px 1px 1px #4A89DC,
        0px 1px 1px #4A89DC,
        1px 2px 1px #4A89DC;
}

.example {
    overflow: hidden;
}
#octocard {
    float: left;
    width: 300px !important;
}

.octocard-editor {
    float: right;
    width: 320px;
}
.editor-footer {
    padding: 5px 1em;
    font-size: 14px;
    background: #DDD;
}
.editor-footer code {
    padding: 0.15em 0.25em;
    font: monospace;
    background: #FEE9CC;
}
#editor {
    height: 160px;
    font: 14px monospace;
    border: 2px solid #DDD;
}
#editor:target {
    border-color: #4A89DC;
}
#editor:target + .editor-footer {
    color: #FFF;
    background: #4A89DC;
}
#preview {
    margin-top: 1em;
    margin-right: 1em;
    padding: 5px 10px;
}

.copy {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    padding: 5px 10px;
    color: #333;
    background: #e1e1e8;
}
